@model SearchResultVM<ObjectId>

@{
    ViewBag.Title = GlobalContent.Search_Index_Title;
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

@using (Html.BeginForm("Index", "Search", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h2 class="title-mid">@GlobalContent.Search_Index_YouSearched: "@Model.Input"</h2>

    <div class="form-group">
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.Input, new { id = "search-input", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.DropDownListFor(m => m.CategoryID, Model.Categories
                , new { id = "search-categories", @class = "form-control sch-cats" })
            <input id="search-trigger" type="submit" value="@GlobalContent.Search_Index_Find" class="btn btn-default" />
        </div>
    </div>
}

@if (Model.Content.Count == 0)
{
    <div class="sch-none">@GlobalContent.Search_Index_NoMatchFound</div>
}
else
{
    <div class="sch-list all-wrapper">
        @foreach (ContentRenderVM<ObjectId> postVM in Model.Content)
        {
            @CommonTemplates.PostShort(Html, postVM)
        }
    </div>
}

@CommonTemplates.ItemsPager(Html, Model, new
{
    Controller = Html.LayoutVM().Controller,
    Action = Html.LayoutVM().Action,
    input = Model.Input,
    CategoryID = Model.CategoryID.ToString()
})

@section scripts{
    @Styles.Render("~/content/posts-list")
    @Styles.Render("~/content/search-list")
    @Scripts.Render("~/content/jssearch-list")
}

