@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    @RenderSection("head", required: false)
}

<table class="noborder-table">
    <tr>
        <td class="sb-content">
            @RenderBody()
        </td>
        <td class="sb-side">
            <div>
                @*POPULAR POSTS*@
                <div class="title mbottom-tiny">@GlobalContent.SidebarLayout_PopularPosts</div>
                @if (Html.LayoutVM().PopularPosts != null)
                {
                    foreach (ContentRenderVM<ObjectId> vm in Html.LayoutVM().PopularPosts)
                    {
                        <div class="sb-popular">
                            <div class="sb-poptext">
                                <div>
                                    @Html.ActionLink(vm.Category.Name, "Category", "Posts"
                                        , new { categoryUrl = vm.Category.Url }, new { @class = "red-link" })
                                </div>
                                <a href="@vm.Url" class="black-link">
                                    <span>@vm.Content.Title</span>
                                </a>
                                <div class="text-right">
                                    <i class="fa fa-eye"></i>
                                    <span>@vm.Content.ViewsCount</span>
                                </div>
                            </div>
                            <a href="@vm.Url">
                                <img src="@vm.ImageUrl" />
                            </a>
                            <div class="clear"></div>
                        </div>
                    }
                }

                @*LATEST COMMENTS*@
                <div class="title mtop-small mbottom-tiny">@GlobalContent.SidebarLayout_Comments</div>
                @if (Html.LayoutVM().LatestComments != null)
                {
                    foreach (CommentRenderVM<ObjectId> comment in Html.LayoutVM().LatestComments)
                    {
                        <div class="sb-comment">
                            <a href="@Url.Action("Full", "Posts", new { id = comment.Url })"
                               class="black-link" title="@comment.SubjectTitle">
                                <div class="sb-avatar">
                                    <img src="/content/images/transparent.gif"
                                         title="@comment.AuthorName" alt="@comment.AuthorName"
                                         style='background-image: url("@comment.AuthorAvatar")' />
                                </div>
                                <div class="sb-comment-content">
                                    <div class="bold">
                                        @comment.AuthorName
                                    </div>
                                    <div class="sb-comment-text">
                                        @Html.Raw(comment.Content)
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </a>
                        </div>
                    }
                }
            </div>

        </td>
    </tr>
</table>

@section scripts{
    @RenderSection("scripts", required: false)
}