@model ContentFullVM<ObjectId>

@{
    ViewBag.Title = Model.ContentVM.Content.Title;
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

@section head{
    @Styles.Render("~/content/posts-full")
}

@*CONTENT*@
<h2 class="title">@Model.ContentVM.Content.Title</h2>

<p class="af-details">
    <span class="af-publishtime to-local-datetime"
          data-time="@Model.ContentVM.PublishTimeIso8601" data-format="MMMM D, YYYY"></span>
    @Html.ActionLink(Model.ContentVM.Category.Name, "Category", "Posts"
        , new { categoryUrl = Model.ContentVM.Category.Url }, new { @class = "red-link" })
    <span>
        <i class="fa fa-comment"></i>
        <span id="commentTopCount">@Model.ContentVM.Content.CommentsCount</span>
    </span>
</p>

@if (!(Model.ContentVM.Content is YoutubePost<ObjectId>))
{
    <img src="@Model.ContentVM.ImageUrl" class="af-topimage" />
}

<div class="af-content">
    @Html.Raw(Model.ContentVM.Content.FullContent)
    <div class="clear"></div>
</div>


@*SOCIAL*@
@*IE support <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>*@
<script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8" async="async"></script>
<div class="mtop-small ya-share2" data-size="m"
     data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,blogger,delicious,digg,evernote,linkedin,lj,pocket,qzone,renren,sinaWeibo,surfingbird,tencentWeibo,tumblr,viber,whatsapp"></div>

@*SIMILAR POSTS*@
<div class="title mtop-small mbottom-mini">
    @GlobalContent.Post_Full_SimilarPosts
</div>
<div class="af-latest">
    @foreach (ContentRenderVM<ObjectId> contentVM in Model.CategoryLatestContent)
    {
        @CommonTemplates.PostTile(contentVM)
    }
</div>

@*COMMENTS*@
<div class="title mbottom-mini">
    @GlobalContent.Post_Full_Comments
    <span class="com-totalcount">@Model.ContentVM.Content.CommentsCount</span>
</div>

<p data-bind="visible: comments.isInitialLoad()"
   class="content-loading" style="display:none">
    <i class="fa fa-spinner fa-pulse"></i>
</p>

<script id="commentTemplate" type="text/html">
    <div class="com-author-container">
        <img src="/content/images/transparent.gif"
             data-bind="style: {'backgroundImage': 'url('+ comment.authorAvatar +')'},
                        attr: {alt: comment.authorName, title: comment.authorName }"
             class="com-avatar" />

        <div class="com-author-content">
            <div class="com-wrapper">               
                <div>
                    <span data-bind="text: comment.authorName" class="bold"></span>
                    <span data-bind="text: comment.addTime" class="com-time color-gray"></span>
                </div>
                <div data-bind="html: comment.content" class="com-text-container"></div>
                <div class="com-reply">
                    <a data-bind="click: $root.comments.actionToggleReplyForm, disable: $root.comments.isLoading">
                        @GlobalContent.Post_Full_Reply
                    </a>
                </div>
                <table class="com-inputtable mtop-mini" style="display:none" data-bind="visible: inputVisible">
                    <tr>
                        <td data-bind="if: $root.comments.userData() !== null">
                            <img src="/content/images/transparent.gif"
                                 data-bind="style: {'backgroundImage': 'url('+ $root.comments.userData().avatar +')'},
                                 attr: { alt: $root.comments.userData().userName, title: $root.comments.userData().userName }"
                                 class="com-avatar" />
                        </td>
                        <td>
                            <div>
                                <textarea data-bind="attr: { id: 'comment' + comment.commentID }"
                                          class="hide com-replyinput"></textarea>
                            </div>
                            <div data-bind="text: controls.message" class="com-message">
                            </div>
                            <table class="com-inputpanel noborder-table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="com-social" data-bind="visible: $root.comments.userData() === null">
                                                <div class="com-authtype">@GlobalContent.Post_Full_AuthSocialAccount</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="com-authorize">
                                                <div data-bind="visible: $root.comments.userData() === null">
                                                    <div class="com-authtype">@GlobalContent.Post_Full_AuthLocalAccount</div>
                                                    <input class="form-control" type="text" data-bind="value: controls.email">
                                                    <input class="form-control" type="text" data-bind="value: controls.name">
                                                </div>
                                                <div class="com-controls">
                                                    <input data-bind="click: $root.comments.actionCancelReply, disable: $root.comments.isLoading"
                                                           type="button" value="@GlobalContent.Common_Cancel" class="btn btn-default" />
                                                    <input data-bind="click: $root.comments.actionAddReply, disable: $root.comments.isLoading"
                                                           type="button" value="@GlobalContent.Common_Add" class="btn btn-primary" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>                               
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="com-children" data-bind="if: children().length > 0">
                <!-- ko template: { name: 'commentTemplate', foreach: children } -->
                <!-- /ko -->
            </div>
        </div>
        <div class="clear"></div>
    </div>
</script>

<div class="mbottom-mini" data-bind="with: comments">
    <table class="com-inputtable">
        <tr>
            <td data-bind="if: userData() !== null">
                <img src="/content/images/transparent.gif"
                     data-bind="style: {'backgroundImage': 'url('+ userData().avatar +')'},
                        attr: { alt: userData().userName, title: userData().userName }"
                     class="com-avatar" />
            </td>
            <td>
                <div>
                    <textarea id="commentsDefaultInput" class="hide"></textarea>
                </div>
                <div data-bind="text: controls.message" class="com-message">
                </div>
                <table class="com-inputpanel noborder-table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="com-social" data-bind="visible: userData() === null">
                                    <div class="com-authtype">@GlobalContent.Post_Full_AuthSocialAccount</div>
                                    <div id="uLogin" class="li-social"
                                         data-ulogin="display=panel;fields=first_name,last_name,photo,photo_big;
             providers=vkontakte,odnoklassniki,facebook,yandex,mailru,googleplus,twitter,youtube,google,livejournal,flickr,wargaming,instagram,vimeo,dudu,tumblr,liveid,foursquare,webmoney,soundcloud,uid,steam,linkedin,lastfm,openid;
             hidden=other;redirect_uri=;callback=uLoginCallback"></div>
                                </div>
                            </td>
                            <td>
                                <div class="com-authorize">
                                    <div data-bind="visible: userData() === null">
                                        <div class="com-authtype">@GlobalContent.Post_Full_AuthLocalAccount</div>
                                        <input class="form-control" type="text" data-bind="value: controls.email">
                                        <input class="form-control" type="text" data-bind="value: controls.name">
                                    </div>
                                    <div class="com-controls">
                                        <input data-bind="click: actionCancel, disable: isLoading"
                                               type="button" value="@GlobalContent.Common_Cancel" class="btn btn-default" />
                                        <input data-bind="click: actionAdd, disable: isLoading"
                                               type="button" value="@GlobalContent.Common_Add" class="btn btn-primary" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>   
</div>

<div data-bind="foreach: comments.items">
    <div data-bind="template: { name: 'commentTemplate', data: $data }">
    </div>
</div>

@section scripts{
    @Styles.Render("~/content/posts-list")
    <script type="text/javascript" src="/content/scripts/ckeditor/ckeditor.js"></script>
    @Scripts.Render("~/content/jsajax")
    <script type="text/javascript">
        var contentID = '@Model.ContentVM.Content.ContentID'
        var categoryID = '@Model.ContentVM.Content.CategoryID'
        var defaultText = '<p class="color-gray">@GlobalContent.Post_Full_DefaultInputText</p>'
        var avatar = '@Html.LayoutVM().AvatarUrl'
        var userName = '@(Html.LayoutVM().CurrentUser == null ? null : @Html.LayoutVM().CurrentUser.UserName)'
        var nameText = '@GlobalContent.Post_Full_CommentUserName'
        var emailText =  '@GlobalContent.Post_Full_CommentEmail'

        var userData = null
        if (userName) {
            userData = {
                avatar: avatar,
                userName: userName
            }
        }
    </script>
    @Scripts.Render("~/content/jsarticles-full")
}

