@model SelectContentVM<ObjectId>

@{
    ViewBag.Title = GlobalContent.Post_List_Title;
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

@section head{
    @Styles.Render("~/content/posts-list")
}

@if (Model.ContentRenderVMs.Count > 0)
{
    <div class="al-topblock">    
        @CommonTemplates.PostTile( Model.ContentRenderVMs.First())     
    </div>
}   

<div class="als-wrapper">
    <div class="title mbottom-tiny">@GlobalContent.Post_List_New</div>
    @foreach (ContentRenderVM<ObjectId> contentVM in Model.ContentRenderVMs.Skip(1))
    {
        @CommonTemplates.PostShort(Html, contentVM)
    }
    <div class="al-ajaxlist">
        <!-- ko foreach: posts.items -->
        @CommonTemplates.PostShortKO()
        <!-- /ko -->
    </div>
</div>

<p data-bind="visible: posts.isInitialLoad() || posts.isLoading()"
   class="content-loading" style="display:none">
    <i class="fa fa-spinner fa-pulse"></i>
</p>

<p id="nextListButton" class="text-center" data-bind="visible: !posts.isLastPage()">
    <button data-bind="click: posts.moveNext, disable: posts.isLoading() || posts.isLastPage()"
            class="btn btn-default">
        @GlobalContent.Post_List_NextList
    </button>
</p>

@CommonTemplates.ItemsPager(Html, Model)


@section scripts{
    <script type="text/javascript">
        var basePickID = '@Model.PickID'
        var isLastPage = @(Model.IsLastPage ? "true" : "false")
        var categoryIDs = null
    </script>
    @Scripts.Render("~/content/jsajax")
    @Scripts.Render("~/content/jsarticles-list")
}

