@{
    ViewBag.Title = GlobalContent.Error_Internal_Title;
}


<h1 style="text-transform:uppercase">@GlobalContent.Error_Internal_Message</h1>
<h3>@GlobalContent.Error_Internal_Description</h3>

<p style="text-align:center">
    <img src="/content/images/pug2.gif" style="width:500px"/>
</p>

<h2>@GlobalContent.Error_NoSuchPage_Suggestion</h2>

<p>
    <a href="/" class="btn btn-primary" style="font-size:20px">@GlobalContent.Error_NoSuchPage_Home</a>
</p>
<p>
    <a href="@Url.Action("Index", "Search")" 
       class="btn btn-primary" style="font-size:20px">@GlobalContent.Error_NoSuchPage_SearchMessage</a>
</p>
